<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/6e2c488ce4.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">

        <div class= "caja-padre-logo-barra">

            <div class="logo-ml">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo">
            </div>
            
            <div class="buscador"> 
                <form>
                <input type="Search" placeholder="Buscar productos, marcas" >
                <button type="submit" value="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>  
                
                
                
                
        </div>
                
        <div class="caja-cuotas">    

            <div class="cuotas">
                <i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
            
            </div>

        </div>

         
        <div class="caja-padre-menu-hamburguesa" 
            
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            
            </div>

        </div>
         

        <nav class= "main-navbar">
            <!--Barra de navegación lado izquierdo-->
            <ul class="left-navbar">   
                <li><a href="/Ofertas">Ofertas</a></li>
                <li><a href="/Tiendas Oficiales">Tiendas Oficiales</a></li>    
                <li><a href="/Vender">Vender</a></li>    
                <li><a href="/Ayuda">Ayuda</a></li>        
                
                
            </ul>
                <!--Barra de navegación lado derecho-->
            <ul class= "right-navbar">
                <li><a href="#">Creá tu Cuenta </a> <i class="fas fa-address-card"></i> </li>
                
                <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li><a href="/Mis Compras">Mis Compras</a> <i class="fas fa-shopping-basket"> </i> </li>
    
        
             </ul>
            
        </nav>

    </header>
                    
     <!--Banner del sitio-->               
     <div class="banner">  <img src="/img/img-home-banner.jpg"> </div>             
                    
     <!--Formulario-->
    <div class="form-style">
        <form class="formulario" action="/" method="get">  
            
            
        <input class="campo" type="text" name="nombre" id="nombre" placeholder="  Nombre y Apellido">

      
        <input class="campo" type="text" name="usuario" id="usuario" placeholder="  Nombre de usuario">

      
        <input class="campo" type="email" name="email" id="email" placeholder="  E-mail">


        <label class="titular" for="cumpleaños">Fecha de Nacimiento</label>
        <input class="campo" type="date" id="cumpleaños" name="cumpleaños">

        <input class="campo" type="text" name="domicilio" id="domicilio" placeholder="  Domicilio">

        <label class="titular">Perfil del usuario</label>
        <br>
        <div class="caja-perfil">
        <label for="comprador">Comprador</label>
        <input type="radio" id="perfil" name="perfil">
        
        <label for="vendedor">Vendedor</label>
        <input type="radio" id="perfil" name="perfil">
        </div>
        <br>

        <label class="titular"> Intereses </label>
        <br>
        <div class="intereses">

            
        <div class="ordenar">     
        <input type="checkbox" name="electro" id="electro"> Electro
        </div>

        <div class="ordenar"> 
        <input type="checkbox" name="moda" id="moda"> Moda
        </div>

        <div class="ordenar"> 
        <input type="checkbox" name="hogar" id="hogar"> Hogar
        </div>

        <div class="ordenar"> 
        <input type="checkbox" name="jugueteria" id="jugueteria"> Jugueteria
        </div>

        <div class="ordenar"> 
        <input type="checkbox" name="vida" id="vida"> Vida sana
        </div>
        </div>
        <br>

        <label class="titular" for="foto">Foto de Usuario</label>
        <input class="campo" type="file" name="foto" id="foto">

        <input class="campo" type="password" name="contraseña" id="contraseña" placeholder="  Contraseña">
        <input class="campo" type="password" name="contraseña" id="contraseña" placeholder="  Confirmar Contraseña">

        <div class="botones">
        <button  type="submit" value="submit" class="boton_form">Enviar</button>
        <button  type="reset" value="reset" class="boton_form">Cancelar</button>
        </div>

        </form>
        
    </div>
    <br>
    <br>

    <footer>
       
        <div class="caja-padre-footer">

            <div class="caja-contenedora-footer">

                <div> <i class="fas fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            
            </div>
            

            <div class="caja-contenedora-footer">

                <div><i class="fas fa-gift"></i></div>    
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>    

            <div class="caja-contenedora-footer">

                <div><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4> 
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>   
            </div>        

        </div>
        
        <br>
        <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>    


    </footer>


</body>
</html>