<header class="main-header">

    <div class= "caja-padre-logo-barra">

        <div class="logo-ml">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo">
        </div>
        
        <div class="buscador"> 
            <form>
            <input type="Search" placeholder="Buscar productos, marcas" >
            <button type="submit" value="submit"><i class="fas fa-search"></i></button>
           </form>
        </div>  
            
            
            
            
    </div>
            
    <div class="caja-cuotas">    

        <div class="cuotas">
            <i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
        
        </div>

    </div>

     
    <div class="caja-padre-menu-hamburguesa" 
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        
        </div>

    </div>
     
    <nav class= "main-navbar">
        <!--Barra de navegación lado izquierdo-->
        <ul class="left-navbar">   
            <li><a href="/Ofertas">Ofertas</a></li>
            <li><a href="/Tiendas Oficiales">Tiendas Oficiales</a></li>    
            <li><a href="/Vender">Vender</a></li>    
            <li><a href="/Ayuda">Ayuda</a></li>        
            
            
        </ul>
            <!--Barra de navegación lado derecho-->
        <ul class= "right-navbar">
            <li><a href="/user/register">Creá tu Cuenta </a> <i class="fas fa-address-card"></i> </li>
            
            <li><a href="/user/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
            <li><a href="/Mis Compras">Mis Compras</a> <i class="fas fa-shopping-basket"> </i> </li>

    
         </ul>
        
    </nav>


</header>